body {
  // background: #f1f1f1;
  height: 100vh;
}

.box-detail {
  border: 1px solid #eaeaea;
  padding: 15px;
  background: var(--bg-white);
}

.navbarv1 .navbar-brand {
  color: var(--text-white);
}

.navbarv1 .navbar-nav .nav-link {
  color: var(--text-white);
}

.navbarv1 .navbar-toggler-icon {
  color: #fff;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
